.promotion-img {
  width: 100%;
}

#btn-col {
  position: static;
}

#btn-container {
  flex-direction: column;
  position: absolute;
  top: 18%;
  right: 2%;
  z-index: 100;
}

@media(min-width: 576px) {
  #btn-container {
    position: static;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}